@charset "UTF-8";
@keyframes menu {
    from {
        
    }
}


body {
    background-color: rgb(18, 18, 18);
}

header {
    text-align: center;
    padding: 60px;
}

h1 {
    color: red;
    font-family: serif;
    font-size: 2.5em;
}

nav {
    color: white;
    display: flex;
}

nav >h2 {
    padding-left: 10px;
}

